TELEGRAM_BOT_TOKEN=8376093210:AAEG5BsnmEs8g3eF-o4tkfvlBak7JbthyB4
TELEGRAM_CHAT_ID=777216759

SYMBOLS=BTC/USDT,ETH/USDT,SOL/USDT
TIMEFRAME=15m
LIMIT=100

EMA_FAST_PERIOD=9
EMA_SLOW_PERIOD=21
RSI_PERIOD=14

CHECK_INTERVAL_SECONDS=60
LOG_FILE=logs/bot.log